@inherits LayoutComponentBase
@inject UserSessionService SessionService
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (SessionService.IsLoggedIn)
            {
                <span>Welcome, @SessionService.CurrentUserName!</span>
                <NavLink class="nav-link" href="#" @onclick="PerformLogout">
                    <span class="bi bi-box-arrow-right-o" aria-hidden="true"></span> Logout
                </NavLink>
            }
            else
            {
                <NavLink class="nav-link" href="login">
                    <span class="bi bi-box-arrow-in-right-o" aria-hidden="true"></span> Login
                </NavLink>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        SessionService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        SessionService.OnChange -= StateHasChanged;
    }

    private void PerformLogout()
    {
        SessionService.Logout();
        NavigationManager.NavigateTo("/"); // Redireciona para a página inicial após logout
    }
}